auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentfauto-save-lists
elpa/
*~
/projectile-bookmarks.eld
/smex-items
custom.el
/eshell
config.el
/projectile.cache
emojis/
recentf
transient/
